@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box; 
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: var(--background);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
